body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

product-card {
  width: 400px;
  height: 680px;
  margin-bottom: 20px;
}

cart-component {
  display: block;
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 16px;
  border-radius: 8px;
}
