body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
  background-color: lightgrey;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

product-card {
  width: 400px;
  height: 680px;
}
